body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p, h1, h2, h3, h4, h5, h6 {
margin-top: 0;
margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08)
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-link {
padding: 24px 0;
position: relative;
}

.header-menu-link.active {
    color: #404bbf;
}

.active::after {
    content: "";
    width: 100%;
    display: block;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.header-contacts {
    display: flex;
    margin-left: auto;
    gap: 40px;
}

.header-logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    margin-right: 76px;
}

.header-logo {
    color: #4d5ae5
}

.header-logo-black {
    color: #2e2f42;
}

.header-menu-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}


.header-address {
    font-style: normal;
}

.header-contacts-link {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        margin: 0 auto;
}

.hero-text {
        display: block;
            margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-button {
        display: block;
            margin: 0 auto;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4D5AE5;
        cursor: pointer;
        min-width: 169px;
            height: 56px;
            border-radius: 4px;
            border: none;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.second-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 3 * 24px) / 4);
}

.second-section-icon-box {
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
            display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 8px;
}

.features-item-list {
            margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.features-item-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-head {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin: 0 auto 72px auto;
}

.team-head-emp {
    display: flex;
    gap: 24px;
}

.team-head-emp-descr {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-head-text {
    padding: 32px 0;
}

.team-head-emp-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-head-emp-position {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.social-links-container {
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    width: 232px;
        height: 40px;
        margin: 8px 16px 0px 16px;
}

.social-links-items {
    width: 40px;
    height: 40px;
}

.instagram {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram:hover,
.instagram:focus {
    background-color: #404bbf;
}

.social-links {
    fill: #f4f4fd;
}

.portfolio {
    padding-top: 120px;
        padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
        }

.portfolio-list {
     display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0);
}

.portfolio-cover-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    background-color: #4d5ae5;
    color: #f4f4fd;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.portfolio-item-text {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-transform: capitalize;
}

.portfolio-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    width: 1158px;
        align-items: baseline;
        padding-right: 0;
}

.footer-container-web {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-sosial-coitainer {
    display: block;
}

.footer-social-links {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.footer-social-links-container{
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    width: 208px;
    height: 40px;
}

.footer-instagram {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-instagram:hover,
.footer-instagram:focus {
    background-color: #31d0aa;
}

.footer-subscribe {
    margin-left: 80px;
}

.footer-form {
    width: 453px;
        height: 80px;
        display: flex;
        flex-direction: column;
}

.footer-input-group {
    display: flex;
    align-items: center;
}

.footer-subscribe-text{
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-input {
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        padding-left: 16px;
        padding-right: 16px;
}

.footer-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        border-radius: 4px;
            width: 165px;
            height: 40px;
            background-color: #4d5ae5;
            border: none;
            display: flex;
            justify-content: center;
            gap: 16px;
            align-items: center;
            margin-left: 24px;
}

.footer-subscribe-icon {
    fill: white;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
}

.modal-open {
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        padding-top: 48px;
        margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
}

.modal-input {
    width: 100%;
border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: 1px solid #4d5ae5;
}

.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.modal-icon {
    fill: #000000";
    stroke: #000000;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    width: 100%;
    height: 120px;
    resize: none;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-check-text {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.modal-check-text span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
}

.modal-check:checked + .modal-check-text span {
    background-color: #404bbf;
    border: none;
fill: #FFFFFF;
}

.modal-btn {
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
}
